<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039754454274-ccm1rudvcnk18mb1fic0v00kidu95juj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039754454274-ccm1rudvcnk18mb1fic0v00kidu95juj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1039754454274-jr1jgotrhf2k7n1s64p9ckgmk87ehogu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBeJJmodaOD_0kifb6wQrI-jgHAo_IvSFA</string>
	<key>GCM_SENDER_ID</key>
	<string>1039754454274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp3</string>
	<key>PROJECT_ID</key>
	<string>chat-app-3-241ee</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-3-241ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039754454274:ios:50659b61c6f9333c02ce1b</string>
</dict>
</plist>